asgiref==3.8.1
black==25.1.0
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.4
diff-match-patch==20241021
Django==5.2
django-appconf==1.1.0
django-crum==0.7.9
django-extensions==4.0
django-filter==25.1
django-htmx==1.23.0
django-import-export==4.3.7
django-widget-tweaks==1.5.0
django-wkhtmltopdf==3.4.0
djlint==1.36.4
EditorConfig==0.17.0
et_xmlfile==2.0.0
jsbeautifier==1.15.4
json5==0.12.0
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.2
pathspec==0.12.1
pdfkit==1.0.0
pillow==11.1.0
platformdirs==4.3.7
psycopg2-binary==2.9.10
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.13.1
tzdata==2025.2
