{% load static %}
<footer class="fixed-bottom seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <p class="footer-texto text-center">Aprendo y creo a diario.</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
        </a>
    </div>
    <div class="derechos-de-autor">Creado por @refede &#169 2021-2024</div>
</footer>
