<div id="modal" class="modal fade" tabindex="-1">
    <div id="dialog"
         class="modal-dialog modal-lg modal-dialog-scrollable"
         hx-target="this"></div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toast"
         class="toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header text-white bg-primary">
            <strong class="me-auto">Atención</strong>
            <small>Ahora</small>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div id="toast-body" class="toast-body"></div>
    </div>
</div>
<div class="toast-container position-fixed top-50 start-50 translate-middle">
    <div id="toast-alerta"
         class="toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header text-white bg-danger">
            <strong class="me-auto">Atención</strong>
            <small>Ahora</small>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div id="toast-alerta-body" class="toast-body"></div>
    </div>
</div>
