{% load static %}
<!-- Navbar -->
<nav id="navbar-fija"
     class="navbar sticky-top navbar-expand-lg p-0 d-print-none">
    <div class="container-fluid">
        <button class="nav-link p-2 d-md-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <ul class="nav me-lg-auto">
            <li>
                <a href="{% url 'core:home' %}" class="nav-link text-center p-1">
                    <i class="bi bi-house d-block"></i>
                    Home
                </a>
            </li>
        </ul>
        <ul class="nav ms-lg-auto">
            <li>
                <a href="#" class="nav-link text-center p-1">
                    <i class="bi bi-person-circle d-block"></i>
                    {{ request.user }}
                </a>
            </li>
            {# Mostrar enlace a Admin solo si el usuario es staff #}
            {% if request.user.is_staff %}
            <li>
                <a href="{% url 'admin:index' %}" class="nav-link text-center p-1">
                    <i class="bi bi-gear d-block"></i>
                    Admin
                </a>
            </li>
            {% endif %}
            <li>
                {# *** REEMPLAZO PARA LOGOUT *** #}
                <form method="post" action="{% url 'core:logout' %}"> {# d-inline para que no ocupe bloque propio #}
                    {% csrf_token %}
                    <button type="submit" class="nav-link text-center p-1"> {# Estilo para que parezca un enlace #}
                        <i class="bi bi-box-arrow-right d-block"></i>
                        Salir
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
