{% extends "core/detalle.html" %}
{% load static %}
{% block header_detalle %}
    <div class="btn-group"
         role="group"
         aria-label="Basic mixed styles example">
        <button hx-get="{% url 'inspeccion:metodo_contenido_crear' metodo.id %}"
                hx-target="#dialog"
                class="btn btn-nuevo">
            <i class="bi bi-plus-circle"></i> Contenido
        </button>
        <button hx-get="{% url 'inspeccion:metodo_editar_parcial' metodo.id %}"
                hx-target="#dialog"
                class="btn btn-editar">
            <i class="bi bi-pencil-square"></i> Editar
        </button>
        <a href="{{ salir }}" class="btn btn-salir" role="button"><i class="bi bi-arrow-bar-left"></i> Salir</a>
    </div>
{% endblock header_detalle %}
{% block lista_detalle %}
    <div class="row">
        <div id="metodo-bloque" class="col-lg-4">
            {% include "inspeccion/metodo_detalle/caracteristicas.html" %}
        </div>
        <div class="col-lg-8">
            {% include "inspeccion/metodo_detalle/contenido.html" %}
        </div>
    </div>
{% endblock lista_detalle %}
{% block js_detalle %}
{% endblock js_detalle %}
