{% extends "core/lista_htmx_dt.html" %}
{% load static %}
{% block header_lista %}
    <button hx-get="{% url 'almacen:caracteristica_crear' %}"
            hx-target="#dialog"
            class="btn btn-nuevo">
        <i class="bi bi-plus-circle"></i> Nuevo
    </button>
{% endblock header_lista %}
{% block lista_tabla %}
    <table id="dataTable" class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo de dato</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas de datos serán manejadas por DataTables -->
        </tbody>
    </table>
{% endblock lista_tabla %}
{% block datatable %}
	<script src="{% static 'almacen/js/dt-caracteristica.js' %}"></script>
{% endblock datatable %}
