{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS="is-invalid" %}
    <form hx-post="{{ request.path }}"
          hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
          class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">{{ titulo|upper }}</h6>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% for field in form.visible_fields %}
                <div class="mb-2">
                    <label class="form-label mb-0">{{ field.label_tag }}</label>
                    {% render_field field %}
                    <div class="invalid-feedback">{{ field.errors|first }}</div>
                </div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p class="m-0">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <span class="flex-grow-1"></span>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
{% endwith %}
