{% for esp in especificaciones %}
    <div class="mb-1">
        <div class="row g-2">
            <div class="col-3">
                <label for="propiedad_{{ esp.id }}" class="form-label">{{ esp.nombre }}</label>
            </div>
            <div class="col-9">
                <input type="text"
                       name="propiedad_{{ esp.id }}"
                       id="propiedad_{{ esp.id }}"
                       class="form-control"
                       value="{{ esp.valor_actual|default:'' }}">
            </div>
            <!-- El 'name' es crucial para poder recuperarlo en la vista POST -->
        </div>
    </div>
{% endfor %}
